:root {
    --basic-game-board-color: rgb(76, 127, 145);
    --darker-border-color: rgb(6, 27, 34);
    --brighter-border-color: rgb(228, 228, 228);
    --basic-text-color: #d7eae3ff;
    --dark-olive-green: #546732ff;
    --lemon-curry: #b49104ff;
    --antique-bronze: #6a6225ff;
    --pale-spring-bud: #d9dabeff;
    --xanadu: #747f5dff;
    --teal-blue: #517b85ff;
    --modal-board-color: rgb(27, 67, 73);
    --field-size: 3.5rem;
    --field-border-width: 3px
    }
    

    @font-face {
        font-family: 'titillium';
        src: url(/assets/fonts/TitilliumWeb-1eq2.ttf);
    }

    @font-face {
        font-family: 'starlight';
        src: url(/assets/fonts/Starlight.ttf);
    }    

    @font-face {
        font-family: 'dancingScripts';
        src: url(/assets/fonts/DancingScript-VariableFont_wght.ttf);
    }    
    html {
        font-family: 'titillium';;
        box-sizing: border-box;
        background-color: var(--pale-spring-bud);
    }
    
    *,*:before, *:after{
        font-family: inherit;
        box-sizing: inherit;
        padding: 0;
        margin: 0;
    }

    body {
        height: 100vh;
        display: flex;;
        justify-content: center;
        align-items: center;
    }
    .game__header {
       /*  background-color: var(--brighter-border-color); */
    } 
    .game__name {

        font-family: 'starlight';
        font-size: 48px;
        margin-bottom: 8px;
   /*      text-shadow: 1px 1px var(--brighter-border-color) */
    }

    .game__catchword {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .game__button {
        border: none;
        background: #404040;
        color: #ffffff; 
        font-weight: 100;
        font-size: 16px;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 16px;
        transition: all 0.5s ease-out ;
    }

    .game__button:hover {
        color: #404040;
        background-color: #ffffff;
        letter-spacing: 2px;
        /* box-shadow: none | [inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ] ]# */
        box-shadow: 0 1px 10px 2px #404040; ;
        /* property name | duration | easing function | delay */
        transition: all 0.5s ease-out ;

    }
    .game__panel {
        width: calc(10*var(--field-size));
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .game__single-field {
        width: var(--field-size);
        height: var(--field-size);
        background-color: var(--basic-game-board-color);
        color: var(--basic-text-color);
        flex-shrink: 0;
 
    }
    

    .border {
        border-style: solid;
        border-width: var(--field-border-width);
    }
    .border-pressed {
        border-color:  var(--darker-border-color) var(--brighter-border-color) var(--brighter-border-color) var(--darker-border-color);
      
    }
    .border-raised {
        border-color:var(--brighter-border-color) var(--darker-border-color) var(--brighter-border-color) var(--darker-border-color) ;
    }

  

    .game__messege {
        background-color: var(--modal-board-color);
        opacity: 0.97;
        border-radius: 10px;
        box-shadow: 0 10px 50px 5px var(--darker-border-color);
        width: 60vw;
        min-height: 75vh;
        position: fixed;
        top: 50%;
        left: 50%; 
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        transform: translate(-50%,-50%); 
       
    }

    .game__textMessage {
        color: var(--basic-text-color);
        font-size: 32px; 
        padding: 40px;
        text-shadow: #ffffff 1px 0 1.5px;
        letter-spacing: 2px;
     
       /*  line-height: 100%; */

    }
    .game__textMessage--quote {
        font-family: 'dancingScripts';
        font-style: italic;
        padding-bottom: 20px;
        font-size: 32px;
         quotes: '"' '"';
        
    }
     .game__textMessage--quote::before {
        content: open-quote;
    } 
       .game__textMessage--quote::after {
        content: close-quote;
    } 

    .game__textMessage--author {
        font-family: 'dancingScripts';
        font-style: italic;
        padding-bottom: 80px;
        font-size: 24px;
    }
    .game__textMessage--author::before {
        content: " - ";
    }

    .inactive {
        display: none;
    }

    .svg {
        padding: 1.5px;
        width: 100%;
        height: 100%;
    }