:root {
    --basic-game-board-color: #084c61ff;
    --darker-border-color: rgb(6, 27, 34);
    --brighter-border-color: rgb(228, 228, 228);
    --basic-text-color: #d7eae3ff;
    --dark-olive-green: #546732ff;
    --lemon-curry: #b49104ff;
    --antique-bronze: #6a6225ff;
    --pale-spring-bud: #d9dabeff;
    --xanadu: #747f5dff;
    --teal-blue: #517b85ff;
    --steel-teal: #538890ff;
    --field-size: 3.5rem;
    --field-border-width: 1.8px
    }
    

    @font-face {
        font-family: 'titillium';
        src: url(/assets/fonts/TitilliumWeb-1eq2.ttf);
    }

    @font-face {
        font-family: 'starlight';
        src: url(/assets/fonts/Starlight.ttf);
    }    
    html {
        font-family: 'titillium';;
        box-sizing: border-box;
        background-color: var(--pale-spring-bud);
    }
    
    *,*:before, *:after{
        font-family: inherit;
        box-sizing: inherit;
        padding: 0;
        margin: 0;
    }

    body {
        height: 100vh;
        display: flex;;
        justify-content: center;
        align-items: center;
    }
    .game__header {
       /*  background-color: var(--brighter-border-color); */
    }
    .game__name {

        font-family: 'starlight';
        font-size: 48px;
        margin-bottom: 8px;
   /*      text-shadow: 1px 1px var(--brighter-border-color) */
    }

    .game__catchword {
        font-family: 32px;
        margin-bottom: 16px;
    }
    .game__resetButton {
        border: none;
        background: #404040;
        color: #ffffff; 
        font-weight: 100;
        font-size: 16px;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 16px;
        transition: all 0.5s ease-out ;
    }

    .game__resetButton:hover {
        color: #404040;
        background-color: #ffffff;
        letter-spacing: 2px;
        /* box-shadow: none | [inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ] ]# */
        box-shadow: 0 1px 10px 2px #404040; ;
        /* property name | duration | easing function | delay */
        transition: all 0.5s ease-out ;

    }
    .game__panel {
        width: calc(10*var(--field-size));
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .game__single-field {
        width: var(--field-size);
        height: var(--field-size);
        background-color: var(--basic-game-board-color);
        color: var(--basic-text-color);
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .border {
        border-style: solid;
        border-width: var(--field-border-width);
        
    }
    .border-pressed {
        border-color:  var(--darker-border-color) var(--brighter-border-color) var(--brighter-border-color) var(--darker-border-color);
      
    }
    .border-raised {
        border-color:var(--brighter-border-color) var(--darker-border-color) var(--brighter-border-color) var(--darker-border-color) ;
    }

  

    .game__messege {
        background-color: rgba(255, 0, 0, 0.856);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0; 
        color: white;
        text-align: center;
        font-size: 32px; 
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .game__textMessage {
        color: yellow;

    }
    .game__textMessage--quote {
        color: pink;
    }
    .game__textMessage--author {
        color: plum;
    }

    .inactive {
        display: none;
    }

    .svg {
        padding: 2px;
        width: 100%;
        height: 100%;
    }